body{
/*	background-color: #eeeeee;*/
}
.header-container {
	margin-top: 0%;
	height: 60%;
	width: 100%;
	background-image:url("./images/header.png");
	background-size: 100% 100%;
}
.header {
  padding: 0px;
  width: 100%;
  height: 30%;
  position:relative;
  text-align: center;
  margin-left: 5%;
  margin-top: 0%;
/*  background: #1abc9c;*/
  color: #8B0000;
  line-height: normal;
  font-size: 42px;
  font-family: brandon-grotesque, sans-serif; 
}

.navbar,a {
	margin-left: 5%;
	margin-right: 5%;
	width: 90%;
	text-align: center;
	text-decoration-style: none;
	color: #8B0000;
	line-height: normal;
	font-weight: lighter;
	font-size: 20px;
	font-family: brandon-grotesque, sans-serif; 
}
/* menu item*/
.leftitem {
    position:relative;
    margin-top:2%;
    left:2%;
}